<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/university.css" />
</head>

<body>
    <div class="header">
        Pizzeria
    </div>
    <div class="main">

        @RenderBody()
    </div>
    <div class="footer">
        &copy; 2024 CPNU
    </div>
</body>

</html>