table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}
table td {
  padding: 15px;
}
table thead td {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}
table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}
table tbody tr {
  background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1248ad;
  color: white;
  font-size: 30px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #1248ad;
  color: white;
  font-size: 20px;
}
.main {
  padding: 50px;
  font-size: 20px;
}
